.input {
    flex: 1;
    height: auto;
    width: auto;
    border-radius: var(--default-radius);
}

.input > label {
    display: inline-block;
    width: 100%;
    margin-bottom: 12px;
    font-size: 14px;
    position: relative;
}

.input > input[type=text],
.input > input[type=email],
.input > input[type=password],
.input > input[type=file],
.input > select {
    height: auto;
    min-width: 0;
    width: 100%;
    padding: 12px 16px;
    background-color: var(--color-input);
    color: var(--color-input-text);
    font-size: 16px;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-radius: var(--default-radius);
    overflow: hidden;
}

.input > input[type=text]:disabled,
.input > input[type=email]:disabled,
.input > input[type=password]:disabled,
.input > input[type=range]:disabled,
.input > input[type=file]:disabled,
.input input.twofa:disabled,
.input > select:disabled {
    opacity: 1;
    background-color: var(--color-input_disabled) !important;
    color: var(--color-input-text_disabled) !important;
    border-color: var(--color-input-border_disabled) !important;
    cursor: not-allowed;
}

.input.state_0 > input[type=text],
.input.state_0  > input[type=email],
.input.state_0 > input[type=password],
.input.state_0 > input[type=color],
.input.state_0 > input[type=file],
.input input.twofa,
.input > select {
    border-color: var(--color-input-border);
}

.input.state_1 > input[type=text],
.input.state_1  > input[type=email],
.input.state_1 > input[type=password] {
    border-color: #27ae60;
}

.input.state_2 > input[type=text],
.input.state_2  > input[type=email],
.input.state_2 > input[type=password],
.input.state_2 > input[type=file] {
    border-color: #c0392b;
}
