.input > input[type=password] + .password-strength {
    margin-top: 8px;
    height: 8px;
    min-width: 0;
    width: 100%;
    background-color: var(--color-input);
    border-radius: 8px;
    position: relative;
}

.input > input[type=password] + .password-strength > .progress {
    height: 100%;
    width: 20%;
    transition: width 100ms ease-in-out;
    border-radius: 8px;
}

